---
layout: default
title: s-ikeda
---
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">

        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">About</h2>
            </div>
            <div class="mdl-card__media">
                <picture>
                    <source type="image/webp"
                            srcset="/assets/images/about-header.jpg.webp">
                    <img class="article-image"
                         src="/assets/images/about-header.jpg" alt="">
                </picture>
            </div>

            <div class="mdl-grid portfolio-copy">
                <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">自己紹介</h3>
                <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                    <p>
                        <span class="about-myname">池田 俊太郎 | Shuntaro IKEDA</span><br>
                        業務では主にwebアプリの開発をしています。<br>
                        プライベートでは42Tokyoのカリキュラムを通してコンピュータサイエンスを学んでいます。<br>
                        Adobe IllustratorやPhotoshop等を使えるのでビジュアルを活用したコミュニケーションも得意です。
                    </p>
                </div>

                <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">経歴</h3>
                <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                    <table class="career-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th class="career-table-period">期間</th>
                                <th>内容</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in site.data.career %}
                            <tr>
                                <td>{{ item.when }}</td>
                                <td>{{ item.desc }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    {% include footer.html %}
</main>
