---
layout: default
title: s-ikeda portfolio
---
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        {% for item in site.data.portfolio %}
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image"
                 src="/assets/images/{{ item.img }}"
                 decoding="async"
                 alt="{{ item.name }}">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ item.name }}</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-card--expand">
                {{ item.desc1 }}<br>
                {{ item.desc2 }}<br>
                {{ item.desc3 }}<br>
                {{ item.desc4 }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                 href="{{ item.link }}">{{ item.link_str }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include footer.html %}
</main>
